/* Content
----------------------------------*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 55px;
  padding-bottom: 20px;
  font-family: 'Oxygen', sans-serif;
}

/* Header / Navbar
----------------------------------*/
.navbar {
  font-size: 1.2em;
}

.navbar .dropdown-menu li {
  font-size: 1.2em;
}

.navbar .sign-out {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.navbar .sign-out:hover {
  background-color: #F44336;
  color: #FFFFFF;
}

/* HomePage three split info
----------------------------------*/
.three-info {
  text-align: center;
}

.three-info .three-info-title {
  padding-bottom: 40px;
}

.fa-handshake-o {
  color: #0D47A1;
}

.fa-search {
  color: #616161;
}

.fa-calendar {
  color: #B71C1C;
}

/* Sign In Form 
-------------------------------------------------- */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  text-align: center;
  padding-bottom: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-signup-message {
  text-align: center;
}

/* MovieList (public)
----------------------------------*/
.thumbnail .caption h3 {
  margin-top: 5px;
  padding-left: 5px;
}

.thumbnail .caption p {
  margin-bottom: 0px;
}

/* About Page
----------------------------------*/
.about-page .about-page-title {
  padding: 10px;
}

.about-page p {
  font-size: 1.2em;
  padding: 3px;
}
/* Footer
-------------------------------------------------- */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: center;
}