# node modules
node_modules

# local environment variables
variables.env

# ignore dist folder
dist

# notes text file
notes.txt

# package-lock.json
package-lock.json

# IntelliJ/Webstorm
*.iml
/.idea

#VSCode
.vscode

# Mac
.DS_Store
