/* About Page
==================================*/

// Variables

// Mixins

// Styles
#about-page {
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 60px;

  h1 {
    font-family: 'Ranga', cursive;
    color: #1976D2;
    font-size: 40px;
  }
}