/* Header
==================================*/

// Variables
$navbar-main-color: #1976D2;

// Mixins

// Styles
.navbar-default {
  background-color: #FFFFFF;
  height: 70px;

  // .container {
  //   padding: 10px;
  // }

  .navbar-brand {
    font-family: 'Dosis', sans-serif;
    color: $navbar-main-color;
    font-size: 36px;
    margin: 10px 5px;
  }

  .navbar-nav {
    font-size: 16px;
    
    li {
      a {
        margin: 10px 5px;
        &:hover {
          color: $navbar-main-color;
        }
      }
    }

    .sign-up {
      background-color: $navbar-main-color;
      color: white;
      border-radius: 20px;

      &:hover {
        border: 1px solid $navbar-main-color;
      }
    }

    .dropdown {
      a:focus {
        background-color: #FFFFFF;
      }
    }
  }
}