/* Main App Base
==================================*/
$main-color: #1976D2;

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
}

ol, ul {
  list-style: none;
}

/* Buttons
==================================*/
  .btn {
    font-size: 14px;
    background-color: $main-color;
    color: #FFFFFF;
    border-radius: 20px;

    &:hover {
      background-color: #FFFFFF;
      color: $main-color;
      border: 1px solid $main-color;
    }
  }

// Header
@import 'header';

// HomePage
@import 'homepage';

// AboutPage
@import 'aboutpage';

// Contact Us
@import 'contactus';

// Sign-In-Up-Form
@import 'sign-up-form';

// Movie-Review-List
@import 'movie-review-list';

// Movie-Review
@import 'movie-review';

// User's Movie-Review-List
@import 'user-movie-list';

// Footer
@import 'footer';