/* Sign-In-Up-Form
==================================*/

// Variables
$main-color: #1976D2;

// Mixins

// Styles
#movie-review-list {
  .title {
    padding-left: 15px;
  }

  .caption {
    p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}