body {
  color: #111;
  background: rgb(232, 232, 232);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.email-password-reset {
  background: rgb(255, 255, 255);
  margin: 10px auto;
  max-width: 700px;
  text-align: center;
}

.email-password-reset__title {
  color: rgb(255, 255, 255);
  background: rgb(24, 115, 226);
  padding: 10px 0;
}

.email-password-reset__body {
  padding: 15px;
}

.email-password-reset__button {
  margin: 5px 0;
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(24, 115, 226);
}

.email-password-reset__text {
  text-align: left;
}
